/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
  color: #0e4525;
  background-color: #d0b3a6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }

 h1 {
  justify-self: center;
  grid-column: 1 / span 4;
 }

 a {
  border: solid #0e4525;
  border-radius: .5rem;
  color: #d0b3a6;
  background-color: #0e4525;
  padding: 4px;
 }

 .posts {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
 }

 .post {
  border-top: double 10px;
  margin-bottom: 10px;
 }

 .links {
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
 }


 .username {
  font-weight: bold;
  font-style: italic;
 }

 .title {
  font-size: 1.5rem;
  font-weight: bold;
 }